2/data/sample_data.csv
2/data/chroma_customer_support/94486026-ae35-4836-83b1-d687f4b30b14/data_level0.bin
2/data/chroma_customer_support/94486026-ae35-4836-83b1-d687f4b30b14/header.bin
/2/data
/.ipynb_checkpoints
/2/src/.ipynb_checkpoints
